<div id="contact-container">
    <a href="contact" id="contact-button">Contact</a>
</div>


<style>
    #contact-container {
        margin-top: 3rem;
        margin-bottom: 0rem;
        transition: transform 0.25s ease-in;
    }

    #contact-button {
        text-decoration: none;
        color: white;
        background-color: #ff4747;
        font-weight: bold;
        font-size: 3rem;
        padding: 5px 1em;
        border-radius: 10px;
    }

    #contact-container:hover, #contact-container:focus {
        transform: scale(1.25);
    }
</style>
